@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;600;700&family=Young+Serif&display=swap');

  *,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
---White: hsl(0, 0%, 100%);
--White-Coffe: rgba(227, 221, 215, 1); 
---Rose-White: hsl(330, 100%, 98%);
---Eggshell: hsl(30, 54%, 90%);
---Light-Grey: hsl(30, 18%, 87%);
---Wenge-Brown: hsl(30, 10%, 34%);
--Dark-Charcoal: hsl(24, 5%, 18%);
--Snow: rgba(255, 247, 251, 1);
--Brandy-Red: rgba(133, 70, 50, 1);
--Dark-Raspberry: #7A284E;
--Outfit: 'Outfit', sans-serif;
--Young-Serif: 'Young Serif', serif;
}

/* body {
    background-color: hsl(330, 83%, 19%);
} */


h1, .title {
    padding-bottom: 24px;
    color: var(--Dark-Charcoal);
    font-family: "Young Serif";
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
}

h2 {
font-family:var(--Young-Serif);
font-size: 28px;
font-style: normal;
font-weight: 400;
line-height: 100%;
color:var(--Brandy-Red);
margin-bottom: 20px;
}

h3 {
    color: var(--Dark-Raspberry);
    font-family: Outfit;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
}

p, li, td{
font-family: var(--Outfit);
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 150%;
color: var(---Wenge-Brown) ;
padding-top: 10px;
}

.receipe-container {
    background-color: white;
    margin: auto;
    width: 100%;
    object-fit: cover;
    border-radius: 24px;
}

.receipe-container img {
    width:100%;
    height: 100%;
} 

.content-text {
    padding: 40px 32px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.ingredients {
    border-bottom: 1;
}

/*Table Style*/
table {
    padding-top: 20px;
}

#nutrition_table {
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #nutrition_table td {
    border-bottom: 1px solid var(--White-Coffe);
    padding: 8px;
  }
  
.preparation-time {
    padding: 28px;
    background-color: var(--Snow);
}

#list {
padding-left: 20px;
}

hr {
    background-color: var(--White-Coffe);
}


@media (min-width: 768px) {
body {
    background-color: var(---Eggshell);
}
.receipe-container{
    width: 736px;
    margin-bottom: 123px;
    margin-top: 123px;
    padding: 40px;
} 

.receipe-container img {
border-radius: 12px;
}


}

@media (min-width: 1024px) { 

}

@media (min-width: 1280px) { 

}

@media (min-width: 1536px) { 

}